@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.title-row {
  padding: 15px 0px;
  border-bottom: 3px solid #f0f3fc;
}

.section_title {
  font-size: 1.625rem;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: "Lobster", cursive;
}

/* .ht-100 {
  min-height: fit-content;
} */

.content-left {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
}

/* .content-right{
  width:900px;
} */



/* ---------------------------------------- for filter ----------------------------------------------------- */

.filter-title {
  font-size: 20px;
  font-weight: bold;
}

.filter-subtitle {
  font-size: 18px;
}

.filter-subtitle:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 33px;
  width: 200px;
  height: 3px;
  background: #f0f3fc;
}

.brdr {
  display: flex;
  justify-content: center;
}

.colmn {
  padding-left:34px;
}




.btn-year{
    border: none;
    color: #fff;
    background: #11BF8B;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: 0.875rem;
    width:75px;
}

.btn-year1{
  border: none;
  color: #fff;
  background: #11BF8B80;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  width:75px;
}


/* ---------------------------------------- for display Cards ----------------------------------------------------- */

.spin{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
}

.mission-image{
  width:100px;
  object-fit: contain;
}

.card-title{
  font-weight: bold;
  color: #563D7C;
}

.card{
  box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
  min-height: 387px;
}

.card-details{
  font-size: 14px;
}

.row{
  margin-right: 0px !important;
}


/* ---------------------------------------- Mobile RESPONSIVE ----------------------------------------------------- */

@media(max-width:880px){
  .title-row{
    display: flex;
    justify-content: center;
  }

  /* for filter */
  .filter-subtitle:after {
    left: 235px;
  }

  .colmn {
    padding-left: 50px;
  }

  .colmn1 {
    padding-left:100px;
  }

  .card {
    min-height: 452px;
  }
  /* .card {
    display:block;
    margin:0 auto;
    //width:330px;
} */
}

@media(max-width:480px){
  .title-row{
    display: flex;
    justify-content: center;
  }
  .colmn1 {
    padding-left:50px !important;
  }
  /* for filter */
  .filter-subtitle:after {
    left: 74px;
  }

  .card {
    display:block;
    margin:0 auto;
    width: 310px;
    margin-left: 15px;
}
}
